<div class="px-4 my-3 text-center">
	<%= image_tag("header.png", class: "rounded-circle mx-auto border border-secondary-subtle border-5", width: "79", height: "79") %>
    <h3 class="fw-bold text-body-emphasis">Message somthing</h3>
</div>


<div class="row">
	<div class="col-8">
		<div class="my-3 p-3 card chatbox shadow-sm bg-body-tertiary rounded">
      		<div class="card-body">
      		<%= render @contents %>
			</div>
			<div class="input-group">
				<%= form_for(@content, html: {class: "border-top input-group ", role: "form"}, url: contents_path) do |f| %>
					<%= f.text_field :body, class: " rounded-start form-control mt-3"%>
	          <%= f.button '<i class="bi bi-send-fill"></i>'.html_safe, class:"border border-0 btn btn-danger btn-md input-group-text mt-3", id:"basic-addon1" %>
	      <% end %>
      </div>
		</div>
	</div>
	<div class="col-4">
		<div class="my-3 p-3 card chatbox shadow-sm bg-body-tertiary rounded">
      		<div class="card-body">
			  <ul class="dropdown-menu position-static d-grid gap-1 rounded-3 mx-0 border-0 w-220px p-2 dropdown-menu-dark">
			      <li><a class="dropdown-item rounded-2 active" href="#">Action</a></li>
			      <li><hr class="dropdown-divider"></li>
			      <li><a class="dropdown-item rounded-2" href="#">Another action</a></li>
			      <li><hr class="dropdown-divider"></li>
			      <li><a class="dropdown-item rounded-2" href="#">Separated link</a></li>
			  </ul>
			</div>
		</div>
  	</div>
</div>